/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

/*common style*/
body {
    font-family: 'Poppins', sans-serif;
}

/*bannar style start*/
.top-banner {
    width: 1250px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    margin: 50px 140px 139px;
}

.banner-item {
    display: flex;
    margin: 50px;
}

.banner-text {
    color: white;
    text-align: center;

}

h1 {
    font-size: 70px;
    font-weight: 700px;
}

.paragrap-area {
    font-size: 16px;

}

/*nav section start*/
.nav-section {
    margin: 30px;
}

.nav-section button {
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 7px;
    margin: 5px;
}


.banner-img img {
    width: 581px;
    height: 613px;
}

/*player section start*/
.player-section {
    margin-top: 130px;
    gap: 24px;
}

.link-area {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    margin: 10px;
    text-align: center;

}

.link-area a {
    text-decoration: none;
    display: inline-block;
    background-color: palevioletred;
    color: aliceblue;
    padding: 5px 50px 10px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

#anchor-tag {
    padding: 10px 50px 10px;
    background-color: #DD0000;
}

.player-section {
    display: flex;
}

.player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


.plyaer-card {
    width: 312px;
    height: 362px;
    box-shadow: 10px 10px 15px gray;
}

.player-img {
    height: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}

button {
    width: 100px;
    height: 32px;
    margin: 10px;
}

.last-section {
    text-align: center;
    width: 100%px;
    height: 200px;
    background-color: #161616;
    color: white;
    margin-top: 50px;

}

hr {
    width: 800px;
    margin-bottom: 30px;
}

.footer {
    font-size: 20px;
}

span {
    margin-bottom: 50px;
    margin-top: 50px;
    margin: 30px;
}

/*media quary */
@media only screen and (max-width:480px) {
    .first-section {
        width: 100%;
        text-align: center;
    }

    .player {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .last-section {
        height: 200px;
        width: 100%;
        margin-left: 50px;
    }
}

@media only screen and (max-width:768px) {
    .top-banner {
        height: 900px;
        width: 900px;
        grid-template-rows: -1;
    }

    .player-img {
        width: 100%;
    }

    .first-section {
        width: 100%;
        text-align: center;
    }

    .player {

        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .last-section {
        height: 200px;
        width: 980px;
        text-align: center;

    }

}

@media only screen and(max-width:1200px) {
    .player {
        grid-template: repeat(3, 1fr);
    }

    .last-section {
        grid-template-columns: repeat(1, 1fr);
        width: 1490px;
        height: 400px;
    }

}